/* Sergio Murillo Ãlvarez UO277178 */

/* Especificidad: 001 */
button {
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border: 0.1em solid #970C10;
    color: #970C10;
    border-radius: 0.3125em;
    transition: background-color 0.3s;
    margin-top: 1em;
}

/* Especificidad: 011 */
button:hover {
    background-color: #970C10;
    color: #FFFFFF;
}

/* Especificidad: 011 */
section[data-type="races"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
}

/* Especificidad: 012 */
section[data-type="races"]>h2 {
    /* Hereda color de fondo #970C10 de h2 */
    width: 100%;
    color: #FFFFFF;
    background-color: #000000;
}

/* Especificidad: 012 */
article[data-type="race"]>h3 {
    text-align: center;
}

/* Especificidad: 011 */
article[data-type="race"] {
    background: linear-gradient(#433F30, #000000);
    color: #FFFFFF;
    display: flex;
    width: 20em;
    margin: 0.15em;
    border: 0.1em solid #000000;
    border-radius: 0.5em;
    flex-direction: column;
    align-items: center;
}

/* Especificidad: 012 */
article[data-type="race"] ul {
    list-style: none;
    padding: 0.5em;
    text-align: center;
}