/* Sergio Murillo Álvarez UO277178 */

/* Especificidad: 001 */
main {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 0;
    border: 0.13em solid black;
    width: 70%;
    height: 30%;
}

/* Especificidad: 001 */
p {
    padding: 1em;
    margin: 0;
    text-align: center;
    border: 0.05em solid black;
}

/* Especificidad: 011 */
p[data-state="empty"] {
    background-color: #000000;
    color: #FFFFFF;
}

/* Especificidad: 011 */
section[data-type=botonera] {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Especificidad: 012 */
section[data-type=botonera] h2 {
    width: 100%;
    text-align: center;
}

/* Especificidad: 012 */
section[data-type=botonera] button {
    width: calc(15% - 1em);
    height: 4em;
    text-align: center;
    background-color: #000;
    color: #FFF;
}

/*Especificidad: 001*/
@media screen and (max-width: 465px) {
    p {
        padding: 0.3em;     /* Redefinición de padding para dispositivos móviles */
    }
}