/* Sergio Murillo Álvarez UO277178 */

/* Especificidad: 001 */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Especificidad: 001 */
header {
    color: #F0EDE0;
    background-color: #433F30;
}

nav {
    padding: 2vh;
    color: #F0EDE0;
    background-color: #970C10;
}

/*Especificidad 002*/
nav a{
    padding: 0.5em;
    text-decoration-line: none;
    color:  #FFFFFF;
  }

/* Especificidad: 001 */
h1 {
    padding: 2em; 
}
