/* Sergio Murillo Ãlvarez UO277178 */
/* Colores utilizados: #970C10 Rojo, #F0EDE0 Blanco Huevo, #FFFFFF Blanco, #433F30 Gris */

/* Especificidad: 001 */
body {
    font-family: Arial, "Lucia Grande", sans-serif;
    background-color: #FFFFFF;
    color: #000000;
}

/* Especificidad: 001 */
header {
    color: #F0EDE0;
    background-color: #433F30;
}

/* Especificidad: 001 */
nav {
    /* Hereda color de fondo #433F30 de header */
    padding: 2vh;
    color: #F0EDE0;
}

/* Especificidad: 001 */
a {
    /* Hereda color de fondo de su padre */
    color: #970C10;
    text-decoration-line: none;
}

/* Especificidad: 011 */
a:hover {
    border-bottom: 0.5em;
    color: #F0EDE0;
    background-color: #970C10;
}

/*Especificidad 002*/
nav a {
    /* Hereda color de fondo #433F30 de header */
    padding: 0.5em;
    color: #FFFFFF;
}

/* Especificidad: 001 */
h1 {
    padding: 0.1em;

}

/* Especificidad: 001 */
h2 {
    color: #F0EDE0;
    background-color: #970C10;
}

/* Especificidad: 001 */
ol {
    list-style-type: upper-roman;
    list-style-position: inside;
}

/* Especificidad: 001 */
ul {
    list-style-type: square;
    list-style-position: inside;
}

/* Especificidad: 013 */
section>ul>li:nth-child(3) {
    /* Hereda color de fondo FFFFFF de body */
    color: #970C10;
}

/* Especificidad: 001 */
dt {
    /* Hereda color de fondo FFFFFF de body */
    font-weight: bold;
    color: #970C10;
}

/* Especificidad: 001 */
dd {
    margin-left: 0em;
}

/* Especificidad: 001 */
table {
    border-collapse: collapse;
}

/* Especificidad: 001 */
th,
td {
    padding: 0.5em;
    text-align: center;
    border-bottom: 0.1em solid #970C10;
}

/* Especificidad: 013 */
tbody tr:nth-child(odd) {
    /* Hereda color de fuente #000000 de body*/
    background-color: #F0EDE0;
}

/* Especificidad: 001 */
video {
    max-width: 100%;
    height: auto;
}

/* Especificidad: 011 */
ul[data-type="weather-fields"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Especificidad: 012 */
ul[data-type="weather-fields"] li{
    flex: 1 1 50%;
}


/* Especificidad: 011 */
article[data-type="weather-day"] {
    display: flex;
    
}

/* Especificidad: 012 */
article[data-type="weather-day"] ul {
    list-style: none;
    padding: 0.1em;
    text-align: center;
    border:0.1em solid #970C10;
}