/* Sergio Murillo Ãlvarez UO277178 */
/* Colores utilizados: #970C10 Rojo, #F0EDE0 Blanco, #433F30 Gris */

/* Especificidad: 001 */
body {
    font-family: Arial, "Lucia Grande", sans-serif;
}

/* Especificidad: 001 */
header {
    color: #F0EDE0;
    background-color: #433F30;
}

/* Especificidad: 001 */
nav {
    /* Hereda color de fondo de su padre */
    padding: 2vh;
    color: #F0EDE0;
}

/* Especificidad: 001 */
a {
    /* Hereda color de fondo de su padre */
    color: #970C10;
    text-decoration-line: none;
}

/* Especificidad: 011 */
a:hover {
    border-bottom: 0.5em;
    color: #F0EDE0;
    background-color: #970C10;
}

/*Especificidad 002*/
nav a {
    /* Hereda color de fondo de su padre */
    padding: 0.5em;
    color: #FFFFFF;
}

/* Especificidad: 001 */
h1 {
    padding: 0.1em;
    
}

/* Especificidad: 001 */
h2 {
    color: #F0EDE0;
    background-color: #970C10;
}

/* Especificidad: 001 */
ol {
    list-style-type: upper-roman;
    list-style-position: inside;
}

/* Especificidad: 001 */
ul {
    list-style-type: square;
    list-style-position: inside;
}

/* Especificidad: 013 */
section > ul > li:nth-child(3) {
    /* Hereda color de fondo de su padre */
    color: #970C10;
}

/* Especificidad: 001 */
dt {
    /* Hereda color de fondo de su padre */
    font-weight: bold;
    color: #970C10;
}

/* Especificidad: 001 */
dd {
    margin-left: 0em;
}

/* Especificidad: 001 */
table {
    border-collapse: collapse;
}

/* Especificidad: 001 */
th,
td {
    padding: 0.5em;
    text-align: center;
    border-bottom: 0.1em solid #970C10;
}

/* Especificidad: 013 */
tbody tr:nth-child(odd) {
    /* Hereda color de fuente de su padre */
    background-color: #F0EDE0;
}

/* Especificidad: 001 */
video {
    max-width: 100%;
    height: auto;
}