/* Sergio Murillo Álvarez UO277178 */

/* Especificidad: 001 */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Especificidad: 001 */
header {
    color: #0A0A00;
    background-color: #FFFFFF;
}

nav {
    padding: 2vh;
    color: #fff;
    background-color: #A70C0C;
}

/*Especificidad 002*/
nav a{
    padding: 0.5em;
    text-decoration-line: none;
    color:  #FFFFFF;
    /*Background color se hereda de nav*/
  }

/* Especificidad: 001 */
h1 {
    text-transform: uppercase;
}
