/* Sergio Murillo Álvarez UO277178 */

/*Especificidad: 001*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

/*Especificidad: 001*/
@media screen and (max-width: 799px) {
    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}