/* Sergio Murillo Ãlvarez UO277178 */

/* Especificidad: 001 */
section {
    display: flex;
    flex-wrap: wrap;
}

/* Especificidad: 002 */
section>h2 {
    width: 100%;
}

/* Especificidad: 001 */
article {
    width: 20%;
    height: 15em;
    margin: 0.2em;
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, .3);
}

/* Especificidad: 011 */
article[data-state="flip"],
article[data-state="revealed"] {
    transform: rotateY(180deg);
}

/* Especificidad: 002 */
article h3,
article img {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #970C10;
    color: #F0EDE0;
    backface-visibility: hidden;
}

/* Especificidad: 002 */
article h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Especificidad: 002 */
article img {
    transform: rotateY(180deg);
}