/* Sergio Murillo Álvarez UO277178 */


/* Especificidad: 003 */
section form label {
    display: block;
    margin-bottom: 0.3125em;
    font-weight: bold;
}

/* Especificidad: 003 */
section form input {
    width: 100%;
    margin-bottom: 0.625em;
    border: 0.0625em solid #000000;
    border-radius: 0.25em;
    background-color: transparent;
    color: #000000;
}

/* Especificidad: 001 */
button {
    padding: 0.5em 1em;
    font-weight: bold;
    text-align: center;
    border: 0.1em solid #970C10;
    color: #970C10;         /* Usa el color de fondo de button por defecto */
    border-radius: 0.3em;
    transition: background-color 0.3s;
    margin-top: 1em;
}

/* Especificidad: 011 */
button:hover {
    background-color: #970C10;
    color: #FFFFFF;
}
