/* Sergio Murillo Álvarez UO277178 */

/* Especificidad: 001 */
main {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0;
  border: 0.13em solid black;
  width: 30em;
  height: 30em;
}

/* Especificidad: 001 */
p {
  padding: 1em;
  margin: 0;
  text-align: center;
  border: 0.05em solid gray;
}

/* Especificidad: 011 */
p:nth-child(3n+1) {
  border-left: 0.13em solid black;
}

/* Rayas horizantes de las 3 cuadrículas */
/* Especificidad: 021 */
p:nth-child(n+19):nth-child(-n+27) {
  border-bottom: 0.13em solid black;
}

/* Especificidad: 021 */
p:nth-child(n+46):nth-child(-n+54) {
  border-bottom: 0.13em solid black;
}

@media screen and (max-width: 465px) {

  /* Especificidad: 001 */
  main {
      /* Redefinición de padding para dispositivos móviles */
      width: 22em;
  }

  /* Especificidad: 001 */
  p {
      /* Redefinición de padding para dispositivos móviles */
      padding: 0.2em;
  }
}