/* Especificidad: 001 */
main {
    width: 100%;
    height: 50vw;
}

/* Especificidad: 001 */
section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Especificidad: 001 */
img {
    width: 100%;
    margin: 0.1em;
}

/* Espeficidad: 011 */
button[data-action=prev] {
    top: 50%;
    left: 2%;
}

/* Espeficidad: 011 */
button[data-action=next] {
    top: 50%;
    right: 2%;
}